*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100vh;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-areas: 'result details';
  grid-template-columns: 711px 399px;
  place-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: transparent;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  align-self: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: #fff;
}

input[type='checkbox']:checked + span::after {
  display: block;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:not(.search-form__textfield):hover {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  height: 34px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.button:active {
  background:  #545050;
}

.button:hover {
  text-decoration: underline;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 399px;
}

.content__list-container {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
}

.content__accent {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
}

.content__card-link {
  color: inherit; /* Наследовать цвет текста от родителя */
  text-decoration: none;
}

.content__video-card-title,
.content__video-card-description {
  color: #fff;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  height: 103px;
  overflow: hidden;
}

.title {
  padding: 0 0 26px;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 94%;
  font-family: "Oswald", sans-serif;
}

.result {
  display: flex;
  grid-area: auto;
  padding-top: 78px;
  flex-direction: column;
}

.result__video-container {
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: currentColor;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: currentColor;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
